.lead {
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 1px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.first {
  border-top: black;
  border-style: solid;
  padding: auto;
  margin-right: 0;
  width: 100%;
}

p {
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: right;
}
.time-block {
  text-align: right;
  /* border-radius: 15px; */
  margin: auto;
  border-top: black;
  border-top-style: solid;
}
.right, .middle, .time-block {
  padding-right: 0;
  padding-left: 0;
}

/* .col-md-2 {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
} */

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;

}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.btnDiv {
  /* background-image: url("https://img.icons8.com/fluent-systems-regular/2x/save.png"); */
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  margin: auto;
  color: white;
  width: 50%;
  height: 100%;
  /* align-items: left; */
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
