.lead {
  text-align: center;
  padding: 0;
}

#currentDay {
  padding-bottom: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* text area formatting for visible text and clear borders  */
textarea{
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 1px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 3%;
}

.description{
  white-space: pre-wrap;
}

/* first columm styling to make it 'stick' to the text area  */
.first {
  border-top: black;
  border-style: solid;
  padding: auto;
  margin-right: 0;
  width: 100%;
}

p {
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: right;
}

/*styling for the border and time display alignment*/
.time-block {
  text-align: right;
  margin: auto;
  border-top: black;
  border-top-style: solid;
}
.right, .middle, .time-block {
  padding-right: 0;
  padding-left: 0;
}


.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;

}

/* color coding for past present and future time blocks  */
.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}


/* save button styling  */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  margin: auto;
  color: white;
  width: 50%;
  height: 100%;
}

.i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
